<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripAssistant"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAznj8pCSFwiLuuDyqLIcwSucnEV2K0KM"/>
        <activity
            android:name=".SelectPayeeActivity"
            android:exported="false" />
        <activity
            android:name=".SelectPayerActivity"
            android:exported="false" />
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseActivity"
            android:exported="true" />

        <activity
            android:name=".TripDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AddTripActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayTripActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
    </application>

</manifest>